


progress {  
    display:  block;
    margin:  0.5em auto;
    background:  #fff;
    border:  1px solid $blue;
    height:  1rem;
    width:  80%;
    &:after {
     content:  attr(value);
      display:  block;
    }
}  
progress::-webkit-progress-bar {  
    background:  #fff;
    border:  1px solid $blue;
}  
progress::-webkit-progress-value {  
background:  $blue;
}  
progress::-moz-progress-bar {  
background:  white;
}  












::selection {
	background: $texthighlightcolor; /* Safari */
	}
::-moz-selection {
	background: $texthighlightcolor; /* Firefox */
}





pre::selection {
	background: $codetexthighlightcolor;
	}
pre::-moz-selection {
	background: $codetexthighlightcolor; 
}

pre span::selection {
	background: $codetexthighlightcolor;
	}
pre span::-moz-selection {
	background: $codetexthighlightcolor; 
}




















[contenteditable] {
	background:  $lite;
	max-width:  $paragraph-width;
	margin:  1em auto;
	min-height:  15em;
	padding:  0.5em 1em;








/*
	contenteditable div
*/


	 pre {
	 	background:  white;
	 	border:  $px dashed $green;
	 }


	p {
		border-left:  $px solid $gray;
		padding-left:  0.5em;
		margin:  0;
		&:before {
			content:  "¶";
			color:  $gray;
			margin-right:  0.25em;
		}
	}

	b {
		&:before, &:after {content: "**"; color:  $gray;}
	}

	em, i {
		&:before, &:after {content: "*"; color:  $gray;}
	}


	h1, h2, h3, h4, h5, h6 {
		margin:  0;
		line-height:  1;

		&:before {
			padding-right: 0.5em;
			color:  $gray;
			font-size:  1rem;
		}
	}

	h1 {font-size:  2.5rem;}
	h2 {font-size:  2.25rem;}
	h3 {font-size:  2rem;}
	h4 {font-size:  1.75rem;}
	h5 {font-size:  1.5rem;}
	h6 {font-size:  1.25rem;}


	h1:before {content:  "h1";}
	h2:before {content:  "h2";}
	h3:before {content:  "h3";}
	h4:before {content:  "h4";}
	h5:before {content:  "h5";}
	h6:before {content:  "h6";}












}


nav[role="toolbar"] {
	display:  block;
	background:  $lite;
	padding:  0.125em 0.5em;
		a[role="button"] {
			padding:  0.5em;
			min-width:  2.5em;
			margin:  0;
			width:  auto;
			text-align:  center;
		}
}


[data-hide] {
	display:  none;
}



[role="alert"] {
	background:  $lite;
	max-width:  $paragraph-width;
	margin:  1em auto;
	padding:  0.5em 1em;
	h4 {
		margin-top:  0;
		margin-bottom:  0;
	}
}



[role="group"] {
	max-width:  $paragraph-width;
	margin:  0 auto;

}

nav[role="group"] {background: $lite;}


[data-logged-in] {

	.large {
		min-height:  20em;
	}

}








[data-fade] {
	opacity:  0.5;
}



[role="directory"] {
	padding: 0.125em 1em;
	max-width:  $paragraph-width;
	margin:  0 auto;
	background:  $lite;
	list-style-type:  none;
	ul {
		list-style-type:  none;
	}
}










