/*
====================
Variables
====================
*/



	//	Colors

$red:		#eb5448;
$blue:		#2c90c6;
$green:		#5BC8A4;
$orange:	#F09D09;
$yellow:	#e3c800;
$red:		#eb5448;
$pink:		#E0218A;
$purple:	#8e44ad;
$maroon:	#903;

$lite:  #f6f6f6;

$dark:  #444;
$darker:  #222;


$gray:  #ccc;

$bodycolor:  $dark;
$headingcolor:  $darker;
$emphasiscolor:  $dark;
$linkcolor:  $blue;
$definitiontermcolor:  $maroon;
$texthighlightcolor:  rgba(205,205,255,0.2);
$codetexthighlightcolor:  rgba(255,255,255,0.25);









	//	Social Media Colors



$facebook:  #3b5998;
$twitter:  #00aced;
$googleplus:  #dd4b39;
$youtube:   #bb0000;
$dribbble:  #ea4c89;




$timesep: "~";

$px:  0.0625rem;



	//	Typography Stuff


$paragraph-width:  50rem;
$font-size:  1.25rem;
$line-height:  1.6;

$font-size-alt:  1.5rem;




$btnbg:  $lite;
$btnfg:  $dark;
$btnfg-hover:  $red;




$article-footer-bg:  $lite;



$hcolora:  $green;
$hcolorb:  transparent;




	//	Syntax Highlighting



$code-string-color:  $blue;


$code-bg:  $lite;
$code-head-color:  $green;
$code-head-bg:  white;







	//	Media Queries


$alpha: 48rem;





	//	Legacy Styles



$legacyfont:  Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;



$legacyfg:  $dark;
$legacyheadingcolor:  $darker;
$legacyemphasiscolor:  $dark;
$legacylinkcolor:  $blue;























